/*import Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Shrikhand');

/*reset browsers default behavior*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*styling*/
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Shrikhand;
    background: linear-gradient(to bottom right, #283E56, #1989AC);
}

header {
    height: 20%;
}

.title {
    text-align: center;
    color: #FFDE25;
    font-size: 48px;
}

main {
    height: 60%;
}

/*styling page's images*/
.central-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.img-container {
    flex-basis: 50%;
    width: 100%;
}

.img-splash {
    height: auto;
    width: 100%;
}


/*styling footer*/
.splash-footer {
    display: flex;
    justify-content: center;
}

.btn-play {
    height: 70%;
    border-radius: 20%;
    border: 5px solid white;
    background-color: #1989AC;
    color: #FFDE25;
    box-shadow: 0 5px #aaa;
    font-size: 32px;
}

.btn-play:hover {
    background-color: rgb(34, 178, 221);
}

.btn-play:active {
    top: 5px;
    box-shadow: none;
}