/*import Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Shrikhand');

/*reset browsers default behavior*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    margin: 0;
    overflow:hidden;
    height: 100vh;
    font-family: Shrikhand;
    background: linear-gradient(to bottom right, #283E56, #1989AC);
    font-size: 10px;
}

/*LANDING PAGE*/

.wrapper-landing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%
}

.title {
    text-align: center;
    color: #FFDE25;
    font-size: 5em;
}

/*styling page's images*/
.central-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-container {
    flex-basis: 50%;
    width: 100%;
}

.img-splash {
    height: auto;
    width: 100%;
}


/*styling footer*/
.splash-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    min-height: 50px;
}

.btn, #btn {
    border-radius: 20%;
    background-color: #1989AC;
    color: #FFDE25;
    font-family: Shrikhand;
}

.btn{
    font-size: 3em;
    box-shadow: 0 5px #aaa;
    border: 5px solid white;
}

.btn-play{
    max-height: 80px;
}

.btn-play:hover {
    background-color: rgb(34, 178, 221);
}

.btn-play:active {
    top: 5px;
    box-shadow: none;
}

/*GAMING PAGE*/

.wrapper-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.stats-btns {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    margin-right: 10%;
    width: 80%;
    font-size: 2em;
    color: white;
}

header #lives {
    font-size: 2em;
    color: white;
    margin-right: 5%;
}

#game {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 3%;
}

#win-game-over{
    width: 100%;
    visibility: hidden;
    position: absolute;
}

.game-grid {
    background-image: url("images/sea2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: #FFDE25 3px solid;
    border-radius: 5%;
}

/* Styling Game's grid table */ 
.background    { 
    table-layout: fixed;
    overflow: hidden;
    width: 80%;
    height: auto;
    border-spacing: 0;
}

.background td { 
    padding: 0;
}

.player, .shark, .treasure{
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; 
}

.player {
    background-image: url("images/Diver1.png");
}

.shark {    
    background-size: 100%;
}

@keyframes flash {
    0% {
        background-color: Red;
        opacity:1;
    }
    22% {
        background-color: Red;
    }
    77% {
        background-color: yellow;
    }
    100% {
        background-color: #777;
    }
}
    
.flash {
    animation-name: flash;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}    